# Python
__pycache__/
*.pyc

# Node / frontend
node_modules/
dist/
.build/

# Logs & temp
*.log
*.tmp

# OS junk
Thumbs.db
.DS_Store

# Secrets
.env
.env.*

# Local scripts
update.bat
uploadtoneo.py
neo.html

# Editor files
.vscode/
.idea/
